<div class="row header">
    <div class="columns small-12 medium-3">
        <!-- <a routerLink = '/'><img src="/assets/images/logo.svg" id="logo"></a> -->
        <a routerLink = '/' id="title"><h3>Projects</h3></a>
    </div>
    <div class="columns small-12 medium-9">
        <a href="https://www.linkedin.com/in/imronha" class="cta-btn">Linkedin</a>
        <a href="https://github.com/imronha" class="cta-btn">Github</a>
    </div>
    <!-- Posting currently disabled because data from forms not being passed to mlab. -->
    <!-- <div class="columns small-12 medium-9">
        <a routerLink = 'post' class="cta-btn">Post Project</a>
    </div> -->
</div>
